

// |---------------------------------------|
// |                COLOURS                |
// |---------------------------------------|

// primary bg colour
$primary-bg-colour: #c9bead;

$secondry-bg-colour: white;

// Thrid bg colour
$third-bg-colour: #fff8eb;

// Fourth bg colour
$fourth-bg-colour: #f4efed;


// ------ FONTS ------ //

// primary font colour
$primary-font-colour: white;

//secondry font colour
$secondry-font-colour: black;

//third font colour
$third-font-colour: #c9bead;


// button colour
$primary-btn-colour: #c9bead;


// |---------------------------------------|
// |                Font-family            |
// |---------------------------------------|

//primary font
// $font-family: 'Mukta Mahee', sans-serif;
$font-family: 'Lato', sans-serif;
//secondry font
$secondry-font-family:'Open Sans', sans-serif;
