@import "_variables.scss";
@import "_mixins.scss";

@import "base/_base.scss";

@import "layout/_layout.scss";

@import "modules/_modules.scss";



@media screen and (min-width: 770px) {
  .toggle {
    display: none;
  }
  .navigation {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .toggle {
    padding: 4%;
  }
}

@media screen and (min-width: 425px) {
  .l-hero__figure {
    margin-top: 7%;
    img{
      width: 70%;
    }
  }

  .l-hero__title {
    padding-top: 5%;
    font-size: 4em;
  }
}

@media screen and (min-width: 1024px) {
  .l-hero__figure {
    margin-top: 0%;
    img{
      width: 50%;
    }
  }

  .l-hero__title {
    padding-top: 2%;
    font-size: 4em;

  }
}
