@import "_variables.scss";
@import "_mixins.scss";

@import "base/_base.scss";

@import "layout/_layout.scss";

@import "modules/_modules.scss";



@media screen and (min-width: 770px) {
  .toggle {
    display: none;
  }
  .navigation {
    display: block;
  }
}



@media screen and (min-width: 768px) {
  .toggle {
    padding: 4%;
  }



}
